body {
  font-family: "Montserrat";
}
section {
  margin-bottom: 5%;
}
h1 {
  text-align: center;
  font-family: "Montserrat-bold";
  padding-top: 10%;
  color: white;
  font-weight: bold;
}

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.round-corner {
  border-radius: 25px;
}
.widget-content {
  padding-bottom: 5%;
  border-radius: 25px;
}
.card {
  width: 60%;
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px; 
}
.second-content{
    padding-right: 3%;
}

.header {
  background: url(../images/chart.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 30%;
  margin-bottom: 5%;
}

.pieGraphs {
  margin-bottom: 7%;
}

.footer {
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 3%;
  padding-top: 1%;
}
