body {
  font-family: "Montserrat";
}
section {
  margin-bottom: 5%;
}
h1 {
  text-align: center;
  font-family: "Montserrat-bold";
  padding-top: 10%;
  color: white;
  font-weight: bold;
}
h2,h3{
  color: #393b44;
  text-align:center;
}
hr{
  border: dotted 5px #393b44;
  border-bottom: none;
  width: 15%;
  margin-bottom:7% ;
  margin-top: 7%;
  
}
table{
  text-align: center;
}
canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
/* Title header Section*/
.header {
  background: url(../images/chart.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 30%;
  margin-bottom: 5%;
}

/* Widgets Sections*/
.round-corner {
  border-radius: 25px;
}
.widget-content {
  padding-bottom: 5%;
  border-radius: 25px;
}
.card {
  width: 60%;
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px; 
}
.card-title{
  color: white;
}

.second-content{
    padding-right: 3%;
}

.carousel-item{
  padding: 7% 15%;

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  /* border: 1px solid black; */
  background-image: none;
  
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: rgb(54, 162, 235);
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: rgb(54, 162, 235);
}
/* Bar graph Section */


/* Aggregation tables Section */
.my-custom-scrollbar {
  position: relative;
  height: 350px;
  overflow: auto;
  }

  .table-wrapper-scroll-y {
  display: block;
  }


/* Pie graphs Section */
.pieGraphs {
  margin-bottom: 7%;
}


/* Tables By Area and Topic Section */

/* Footer Section */
.footer {
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 2%;
  padding-top: 1%;
}
