<!doctype html>
<html>

<head>
    <title>Bar Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="scripts/utils.js"></script>
    <link rel="stylesheet" href="css/styles.css">
    
</head>

<body>

    <h1> Calls Statistics </h1>

    <div class="container" style="width: 75%;">
        <canvas id="canvas-WaitingTime"></canvas>
    </div>
    <script src="scripts/WaitingTime.js"></script>

    <!-- <div class="container" style="width: 75%;">
        <canvas id="canvas-NumOfWaitingCalls"></canvas>
    </div>

    <script src="scripts/NumOfWaitingCalls.js"></script> -->

    <!-- <div class="container" style="width: 75%;">
        <canvas id="canvas-DistributionByRequests"></canvas>
    </div>

    <script src="scripts/DistributionByRequests.js"></script> -->

    <!-- <div class="container" style="width: 75%;">
        <canvas id="canvas-DistributionByLanguage"></canvas>
    </div>

    <script src="scripts/DistributionByLanguage.js"></script>
     -->
    
</body>

</html>